@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.set-repeat{
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.desktop-components{
     display: none;
}
.customise{
    height:500px;
}
.address{
    height: 100vh;
}
.customiser-view{
    height :100vh;
    display: block;
}
.brand-active {
    margin-top: 20px;
    margin-bottom: 10px;
}
.components {
    display: flex;
    justify-content: space-around;
}
.component-name {
    height: 20px;
}
.editor {
    /* border : solid; */
    margin-top: 10px;
}
.textures{
    display:flex;
    /* justify-content: center; */
}

.loader-container{
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 851px){
    body{
        overflow-x: hidden;
    }
    .customise {
        display: flex;
        justify-content: space-between;
        height: 90vh;
        width: 100vw;
    }
    
    .customise canvas{
        display: block;
        width: 50vw;
        height: 100vh;
    }
    
     
    .address{
        height: 100vh;
    }
    .customiser-view{
        height :100vh;
        display: block;
    }

    .brand-active {
        margin-top: 20px;
        margin-bottom: 10px; 
    }

    .brand-active img{ 
        width: 12vw;
        margin-right: 40vw; 
    }

    .components {
       display: none;
    }

    .desktop-components {
        display: flex;
        flex-direction: column;
        margin-top: -3rem;
    }
    
    .component-name{
        display: flex; 
        align-items: center; 
        border-bottom: 1px solid #0000001F;
        font-size: 28px;
        font-family: 'Playfair Display';
        line-height: 37.32px;
        font-weight: 700;
        width: 35vw; 
        height: 10vh; 
    }
   
    .component-name:hover{
        cursor: pointer;
        color:#BB9357; 
        background-color: #eee6da;
        border: 1px 0px 0px 0px solid #eee6da;
    }

    .component-name:active{
        color:#BB9357; 
        background-color: #eee6da;
        border: 1px 0px 0px 0px solid #eee6da;
    }
    
    .component-name-desktop{
          margin-left: 1rem;
    }

    .desktop-components p {
        font-size: 20px;
        line-height: 29.05px;
        margin: 0px auto;
        margin-bottom: 2rem;
    }

    .desktop-downArrow-icon {
        position: absolute;
        right: 50px; 
    } 

    .editor { 
        margin-top: 10px;
        width: 40vw;
        height: 70vh; 
        padding-left: 1rem;
    } 
    
    .loader-container{
        height : 100vh;
        display : flex;
        justify-content: center;
        align-items: center;
    }
    
    .shoes-name {
        position: absolute;
        top: 90vh;
        z-index: 100000;

        color: #111;
        font-family: Playfair Display; 
        font-size: 25px;
        font-weight: 800;
        line-height: 37.32px;
        letter-spacing: 0em;
        text-align: left;  
        margin-left: 10rem;  
    }
    
    .download-button {
        /* position: relative;
        left: 47vw;
        top: 20px;
        z-index: 100;
        height: 3rem;  */
        display: none;
    }
     
    
    .download-button>button {
        background-color: white;
        border: 0.6px solid rgb(225, 225, 225);
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    
    .download-button svg{
        width: 18px;
        height: 20px;
    } 

    .download-button svg:hover{
        cursor: pointer;
    } 

    .textures { 
        display: flex; 
        flex-wrap: wrap;
        width: 35vw;
        font-family: 'Inter';
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 30px; 
    }
    .textures-sole{
        margin-top: 2rem; 
        margin-bottom: 5rem; 
        display: flex; 
        flex-wrap: wrap;
        width: 35vw;
        font-family: 'Inter';
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 30px; 
    }
    .texture-image img{
        width: 4rem;
        height: 3rem;
    }
    
    .texture-image-active img{
        width: 4rem;
        height: 3rem;
    }
    
    .texture-image-active {
        background-color: #F9F9F9;
        width: 4rem;
        height: 3rem;
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.514);
        overflow: hidden;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0 0 4px rgb(0, 0, 0);
        border-radius: 4px;
    }
    
    .sole-name{
        padding: 5px;
        margin: 10px;
    }
    .sole-image-active {
        width: 4rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        overflow: hidden;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0 0 4px rgb(0, 0, 0);
        border-radius: 4px;
    }
    
    .sole-image-active img{
        width: 4rem;
        height: 3rem;
    }
    
    .sole-image img{
        width: 4rem;
        height: 3rem;
        margin-right: 2rem;
    }
    
    .done-div-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 88vh;
        right: 0vw;
        width: 35vw;
        height: 12vh;
        z-index: 1000;
        background: white;
        border-top: 2px solid #F5F5F5;
    }

    .left {
        width: 13rem;
        height: 3rem;
        margin-left: 3rem;
        font-size: 15px;
    }
    
    .right { 
        width: 7rem;
        height: 2.5rem;
        border: none;
        border-radius: 7px;
        background-color: #BB9357;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        font-size: 18px;
    }
    
    .right:hover{ 
         cursor: pointer;
    }
    
    .edit-function{
        display: none;
    }
    
    .details{
        display: none;
    }
    

    .small-color-div-active {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 3px solid rgb(255, 255, 255);
        box-shadow: 0 0 3px rgb(0, 0, 0);
    }
    
    .small-color-div {
        width: 3rem;
        height: 3rem;
        border-radius: 50%; 
    }
    
    .selectors{
        display: none;
    }

    .selectors-desktop {
        display: flex;
        flex-direction: column;
        width: 35vw; 
        margin-bottom: 3rem;
    }

     
    .selector-type {
        margin-bottom: 0rem;
        margin-top: 2rem;
    }

    .selector-type-txt{
        margin-bottom: 0.1rem;
        font-size: 24px;
        font-family: 'Inter';
        line-height: 29.05px;
        font-weight: 600;
        margin-left: 1rem;
    }
    
    .price {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 24px;
    }
    }
    
@media only screen and (max-width: 850px){
    .selectors-desktop{
        display: none;
    }

    .selectors{
        padding-bottom: 100px;
    }
    .shoes-name{
            color: #111;
            font-family: Playfair Display;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            padding-left : 15px;
    }
    .download-button{
        position: absolute;
        z-index: 100;
        top : 15px;
        right : 20px;
        max-width:40px;
    }
    .download-button>button{
        /* position: absolute;
        right:0px; */
        background-color: white;
        border:0.6px solid rgb(225, 225, 225);
        height: 40px;
        width:40px;
        border-radius: 50%;
    }
    .download-icon{
        height:24px;
        width:24px;
    }
    .editor{
        position : relative;
    }
    .customise {
        position : relative;
        top :0px;
        height : 296px;
    }
    .edit-function{
        display: none;
        margin : 20px 16px 16px 16px;
        background-color: #F9F9F9;
        border-radius  : 22px;
        height : 41px;
        border : 2px solid red;
        /* display: flex; */
        /* justify-content: space-around;
        align-items: center;; */
    }
    .edit-function-name{
        font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px
    }
    .edit-function-name>span{
        position : relative;
        top : 4px;
        left : 5px;
    }
    .components{
        /* border: solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        height : 40px;
    }
    .component-name {
        padding-left : 10px;
        padding-right : 10px;
        margin-left : 5px;
        margin-right : 5px;
        font-size : 20px;
        margin-bottom : 4px;
        padding-bottom: 4px;
        font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
    }
    .component-counter{
    font-family: Sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color:#4E4E4E;
    }
    .arrow{
        margin : auto 20px;
    }

    .hamburger-icon{
        width: 25px;
        transform : scale(1.5);
        position: absolute;
        right: 10px;
        top: 11px;
        transition : scale 0.3s smooth;
    }
    .hamburger-icon:hover{
        transform: scale(1.2);
    }
    .menu{
        position : fixed;
        bottom : 0;
        background-color: rgb(255, 255, 255);
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s ease;
        z-index : -1;
        box-shadow: 0 -1px 100px rgba(0, 0, 0, 0.25);
    }
        .menu.open {
            opacity : 1;
            z-index: 2;
            bottom : 0px;
        }
        .menu>h3{
            font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
        }
        .close-details{
            position : absolute;
            right :14px;
            top: 7px;
            font-weight: bold;
        }


.arrange{
    display: flex;
    flex-wrap: wrap;
}
.component-items{
    flex-basis: 40%;
    margin-bottom : 10px;
  margin-left: 16px;
font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.75);
}

.component-item-check{
    display: none;
}

.selector-name{
    height: 80px;
    /* border : solid black; */
    position: relative;
    display : flex;
    align-items: center;

}
.textures{
    /* border : solid black; */
    overflow-x: auto;
    display: flex;
}
.selector-type{
    /* border : solid  black; */
    min-width : 61px;
    /* margin-left: 16px; */
    display: inline-block;
    margin: auto 25px auto 16px ;
    
}
.selector-type-txt{
    font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
}

.done-div-container{
   height : 72px;
   display: flex;
   justify-content: space-between;
   /* border : solid black; */
   width: 100vw;
        position: fixed;
        bottom: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);

    background-color: white;
}

.done-div-container .left{
    /* display: flex; */
    display: flex;
        justify-content: center;
        align-items: center;
        margin-left : 16px;
        font-size: 12px;
}
.done-div-container .price{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
}
.done-div-container .right{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right : 16px;
font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

}
.done-div-container .right .done{
    border : none;
    width : 116px;
    height : 40px;
    border-radius:  27px;
    background-color:#BB9357; 
    text-decoration: none;
    color : white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.done-div-container .right NavLink{
    text-decoration: none;
}
.texture-name{
    height: 52px;
    width: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border: none;
}

.small-texture-name{
    font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
    
        color: #000000;
}

.texture-image {
    width : 64px;
        height : 32px;
    /* width: 100%; */
    
   
    border: none;
    overflow: hidden;
}
.texture-image-active {
    background-color: #F9F9F9;
    width: 64px;
    height: 32px;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.514);
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 4px rgb(0, 0, 0);
    border-radius: 4px;
}
.texture-image img {
    
    overflow: hidden;
    border-radius: 4px;
}
.small-color-div{
    height : 30px;
    width:30px;
  border-radius: 50%;   
  /* margin-bottom: 10px; */
}
.small-color-div-active{
    height :30px;
    width : 30px;
    border-radius: 50%;
    border : 4px solid rgb(255, 255, 255);
    box-shadow: 0 0 4px rgb(0, 0, 0);
}
.small-color-name{
    margin-top: 10px;
}

.sole-name{
width: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: none;
}
.sole-image{
    width: 64px;
        height: 32px;
        /* width: 100%; */
    display: flex;
        align-items: center;
        justify-content: center;
    
        border: none;
        overflow: hidden;
}
.sole-image-active {
    width: 64px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: hidden;
    
    border: 2px solid rgb(255, 255, 255);
        box-shadow: 0 0 4px rgb(0, 0, 0);
        border-radius: 4px;
}
.sole-image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sole-image-active>img{
    transform: scale(1.3);
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.small-sole-name{
    font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
    
        color: #000000;
}


}



.texture-name {
    border : none;
    border-radius: 5px;
    padding : 5px;
    margin : 10px;
    font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
}
.colors{
    display : flex ;
    justify-content: center;
    padding : 10px;
}
.color-name{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    border :none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-family: 'Inter';
    text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
}
/* const new_material=new THREE.MeshStandardMaterial({
    map : props.colorMap,
    normalMap : props.normalMap,
    heightMap : props.displacementMap,
    roughnessMap : props.roughnessMap,
});
object.material=new_material;
} */
.meshBasicMaterial {
    transition: color 0.5s;
}
.order{
    font-size: 25px;
    display: flex;
    justify-content: center;
}